.domain {
	display: none;
}

.tick line {
	stroke: #ccc;

}

.tick text {
	fill: #999;
}

.hover {
    stroke: #000;
    stroke-width: 2;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-family: times new roman;
    margin: 0 0 10px 0;
}

	.mark.hover {
		cursor:pointer;
		fill-opacity:0.8;
		stroke: #000;
		stroke-width: 2;
	}

#tooltip {
	position:absolute;
	display:none;
	background-color: #ffffff;
	padding: 5px;
	border:1px solid: #cccccc;
}

}